body{
    background-color: #303030;
}

.header ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;  


}

.header a{
    color: white;
    text-decoration: none;
}

.header{
font-size: 40px;
font-weight: bold;
text-align: left;
font-family: sans-serif;
color: white;
background-color: black;
padding: 1px;
margin-left: -20px;
margin-right: -20px;
margin-top: -50px;
margin-bottom: 30px;

}

.kanan{
 display: inline;
 float: right;
 padding-right: 5px;
 margin-bottom: 3px;

}

.search {
float: right;
margin-bottom: 9px;
}

h1{
    text-align:center;
    color: white;
    font-family: Poppins;
}

img{
    width:300px;
    border-radius:20px;
}

.table a{
    font-family: Poppins;
    font-size: 15px;
    line-height: 1.3;
    color: white;
}

.table a:link {
    color :white;
    text-decoration:none;
} 

.table a:hover{
    color: white;
    text-decoration:none;
}

.table th{
    text-align: center;
    color: white;
    font-family: Poppins;
}

.table td{
    text-align: center;
    color: white;
}

input[type="submit"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
} 

.pagenation a{
    color: white;
}
.pagenation #aktif{
    font-weight: bold;
    color: #3367d6;
}

.img{
    padding-top: 5px;

}

 figure{
    overflow: hidden;
    margin: 2px 2px -21px 2px;
 }

 .image #zoom-In img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
 }
 .image #zoom-In:hover img{
    transform: scale(1.11);
 } 




